@import "./variables.sass"
@import "./fonts.sass"
@import "./vendor/animate.css"

body
  margin: 0
  font-family: 'DIN Pro'
  line-height: 1.154
  font-weight: 400
  -webkit-font-smoothing: subpixel-antialiased
  width: 100%

@mixin textlink ()
  color: $secondary-color
  text-decoration: none
  cursor: pointer

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

#wrapper
  width: 100%
  height: 100%
  overflow-y: auto
  -webkit-overflow-scrolling: touch
