html
    head
        title The Coca-Cola Company
        meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    body
        #app
        if app.get('env') == 'production'
            script(src=`/public/dist${app.get('assets').main.js}`)
        if app.get('env') == 'development'
            script(src='//localhost:3031/index.js')
