.backgroundWrapper
  min-height: 100%
  background-image: url('../../public/background.jpg')
  background-size: cover
  background-position: right top
  position: relative
  &:before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .2)
  &_blur
    background-image: url('../../public/background-blur.jpg')
  & > *
    position: relative


.mobile .backgroundWrapper
  background-position: 60% top
  -webkit-overflow-scrolling: touch
  overflow-x: hidden
