.cocaColaLogo
  width: 120px
  height: 117px
  background-image: url('../../public/logo.png')
  background-size: contain
  background-repeat: no-repeat

.mobile .cocaColaLogo
  width: 120px *.6
  height: 117px *.6
