@import '../variables.sass'

.congratulation
  padding: 20px 72px
  color: #ffffff
  box-sizing: border-box
  text-align: center
  position: relative
  height: 100%

  &-logo
    position: absolute
    top: 20px
    left: 72px
  
  &-title
    font-size: 48px
    line-height: 48px
    text-transform: uppercase
    margin: 30px 0
    font-weight: bold

  &-backButton
    position: absolute
    top: 47px
    right: 72px
    text-transform: uppercase
    cursor: pointer
    &:before
      content: ''
      width: 51px
      height: 51px
      background-image: url('../../public/rounded-arrow.png')
      background-position: center
      background-size: 51px
      margin: 0 auto
      display: block
      margin-bottom: 10px
    &:hover
      opacity: .8

  &-videoNest
    width: 100%
    height: calc(100% - 317px)
    position: relative
    & video
      transition: all .3s ease
      border-radius: 10px
      box-shadow: 0px 0px 40px 10px rgba(0,0,0,.3)
      cursor: pointer

  &-footer
    text-align: center
    padding-top: 60px
    box-sizing: border-box


.mobile .congratulation
  padding: 20px 18px  

  &-logo
    position: absolute
    top: 20px
    left: 18px

  &-title
    font-size: 30px
    line-height: 30px
    text-transform: uppercase
    margin: 30px 0
    font-weight: 500
    text-align: left
    margin-top: 90px

  &-subtitle
    font-size: 20px
    font-weight: normal
    line-height: 27px

  &-backButton
    top: 27px
    right: 20px
    font-size: 0
  
  &-videoNest
    height: auto !important
    width: 100% !important
    
  &-video
    width: 100%

  &-sharerIcon
    margin-left: 9px
    margin-right: 9px
    @media (max-width: 320px)
      margin-left: 3px
      margin-right: 3px

  &-footer
    padding: 30px 0

  &-sharer
    border: none
    margin-left: 0
    text-align: center
    width: 100%
    &:before
      display: none
    & > *
      border: 1px solid rgba(255, 255, 255, .2)
      width: 60px
      height: 60px
      border-radius: 50%
      
