@import "../variables.sass"

.nameSelector
  width: 820px
  margin: 15px auto 0
  height: 100%
  &-overlay
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, .5)
    overflow: hidden

  &-heading
    background-color: white
    border-radius: 20px
    height: 140px
    position: relative
    &:after
      content: ''
      position: absolute
      width: 100%
      height: 21px
      bottom: 0
      left: 0
      background-color: white

  &-cross
    width: 22px
    height: 22px
    background-image: url('../../public/red-cross.png')
    background-size: 22px 22px
    position: absolute
    top: 20px
    right: 20px
    cursor: pointer
    &:hover
      opacity: .7

  &-title
    font-size: 24px
    margin-left: 38px
    padding-top: 20px

  &-characters
    text-align: center
    padding-top: 25px

  &-character
    display: inline-block
    width: 33px
    font-size: 24px
    cursor: pointer
    &:hover
      color: $primary-color

  &-body
    background-color: white
    height: calc(100% - 257px)
    overflow-y: scroll

  &-bodySection

  &-sectionTitle
    margin-left: 38px
    font-size: 44px
    color: $primary-color
    padding-bottom: 10px

  &-sectionColumns
    border-top: 1px solid #cccccc
    font-size: 18px
    line-height: 36px
    color: $text-pale
    padding: 14px 38px 40px
    column-count: 3
    column-gap: 10px

  &-name
    cursor: pointer
    &:hover
      color: $primary-color

  &-footer
    height: 102px
    background-color: $primary-color
    padding: 30px 38px
    color: white

  &-footerLink
    display: inline-block
    color: $text-pale
    background-color: white
    line-height: 34px
    padding: 0 10px
    border-radius: 28px
    cursor: pointer
    &:hover
      color: lighten($text-pale, 20)


.mobile .nameSelector
  margin: 0
  width: 100%
  height: 100%

  &-cross
    position: absolute
    top: 20px
    right: 20px
    z-index: 200

  &-heading
    height: 0

  &-body
    height: 100%
    width: 100%
    overflow-x: hidden
    -webkit-overflow-scrolling: touch

  &-title, &-characters
    display: none

  &-sectionTitle
    position: absolute
    top: 0
    background-color: white
    width: 100%
    margin-left: 0
    padding-left: 18px
    border-bottom: 1px solid #cccccc

  &-bodySection
    position: relative

  &-sectionColumns
    border-top: none
    padding: 78px 18px 18px
    column-count: 1
    column-gap: 0px
    line-height: 56px
    font-size: 22px

  &-footerMobile
    font-size: 20px
    position: fixed
    bottom: 0
    width: 100%
    background-color: $primary-color
    color: white
    padding: 18px
    box-sizing: border-box
    padding-top: 28px
    & > *
      margin-top: 20px
    & > div:first-child
      margin: 0
      padding-bottom: 10px
  
  &-footerMobilePlus
    width: 30px
    height: 30px
    position: absolute
    right: 18px
    top: 18px
    &:before
      content: ''
      width: 24px
      height: 2px
      background-color: white
      display: block
      position: absolute
    &:after
      content: ''
      width: 24px
      height: 2px
      background-color: white
      display: block
      position: absolute
      transform: rotate(90deg)

  &-footerMobileMinus
    width: 30px
    height: 30px
    position: absolute
    right: 18px
    top: 18px
    &:before
      content: ''
      width: 24px
      height: 2px
      background-color: white
      display: block
      position: absolute
