@import '../variables.sass'

.shareScreen
  padding: 20px 72px
  color: #ffffff
  box-sizing: border-box
  text-align: center
  position: relative
  height: 100%

  &-logo
    position: absolute
    top: 20px
    left: 72px
  
  &-title
    font-size: 48px
    line-height: 48px
    text-transform: uppercase
    margin: 30px 0
    font-weight: bold

  &-backButton
    position: absolute
    top: 47px
    right: 72px
    text-transform: uppercase
    cursor: pointer
    &:before
      content: ''
      width: 51px
      height: 51px
      background-image: url('../../public/rounded-arrow.png')
      background-position: center
      background-size: 51px
      margin: 0 auto
      display: block
      margin-bottom: 10px
    &:hover
      opacity: .8

  &-videoNest
    width: 100%
    height: calc(100% - 317px)
    & video
      transition: all .3s ease
      border-radius: 10px
      box-shadow: 0px 0px 40px 10px rgba(0,0,0,.3)
      cursor: pointer

  &-footer
    text-align: center
    padding-top: 40px
    box-sizing: border-box

  &-emailField
    display: inline-block
    width: 380px
    height: 60px
    background: white
    border-radius: 30px
    position: relative
    text-align: left

  & input
    width: calc(100% - 30px)
    height: 100%
    text-align: center
    font-family: inherit
    font-size: 18px
    border: none
    background: transparent
    &:focus
      outline: none
    &::placeholder
      color: $text-dark

  &-emailButton
    width: 60px
    height: 60px
    background-color: $primary-color
    position: absolute
    right: 0
    top: 0
    border-radius: 50%
    background-image: url('../../public/arrow-mail.png')
    background-size: 32px 12px
    background-position: center
    background-repeat: no-repeat
    cursor: pointer
    &:hover
      background-color: lighten($primary-color, 10)

  &-sharer
    display: inline-block
    width: 380px
    height: 60px
    border: 1px solid rgba(255, 255, 255, .2)
    border-radius: 30px
    box-sizing: border-box
    text-align: left
    margin-left: 60px
    vertical-align: top
    &:before
      content: 'ОТПРАВИТЬ'
      font-size: 13px
      line-height: 58px
      margin-left: 28px
  
  &-sharerIcon
    display: inline-block
    vertical-align: top
    height: 57px
    margin-left: 46px
    cursor: pointer
    &:hover
      opacity: .8
    &_fb
      width: 12px
      background: url('../../public/share-fb.png')
      background-position: center
      background-repeat: no-repeat
      background-size: 12px 25px

    &_vk
      width: 15px
      background: url('../../public/share-vk.png')
      background-position: center
      background-repeat: no-repeat
      background-size: 15px auto

    &_ok
      width: 14px
      background: url('../../public/share-ok.png')
      background-position: center
      background-repeat: no-repeat
      background-size: 14px auto

    &_clipboard
      width: 25px
      background: url('../../public/share-clipboard.png')
      background-position: center
      background-repeat: no-repeat
      background-size: 25px auto
  
  &-clipboardPopup
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .4)
    top: 0
    left: 0
    font-size: 24px

  &-clipboardPane
    margin: 0 auto
    width: 498px
    height: 230px
    margin-top: 30vh
    background-color: white
    border-radius: 30px
    text-align: center
    padding-top: 40px
    box-sizing: border-box

  &-clipboardButton
    background-color: $primary-color
    display: inline-block
    padding: 0 40px
    margin-top: 30px
    line-height: 60px
    color: white
    border-radius: 30px
    cursor: pointer
    &:hover
      background-color: lighten($primary-color, 10)

.mobile .shareScreen
  padding: 20px 18px  

  &-logo
    position: absolute
    top: 20px
    left: 18px

  &-title
    font-size: 30px
    line-height: 30px
    text-transform: uppercase
    margin: 30px 0
    font-weight: 500
    text-align: left
    margin-top: 90px

  &-subtitle
    font-size: 20px
    font-weight: normal
    line-height: 27px

  &-backButton
    top: 27px
    right: 20px
    font-size: 0
  
  &-videoNest
    height: auto !important
    width: 100% !important
    
  &-video
    width: 100%

  &-sharerIcon
    margin-left: 9px
    margin-right: 9px
    @media (max-width: 320px)
      margin-left: 3px
      margin-right: 3px

  &-sharer
    border: none
    margin-left: 0
    text-align: center
    width: 100%
    &:before
      display: none
    & > *
      border: 1px solid rgba(255, 255, 255, .2)
      width: 60px
      height: 60px
      border-radius: 50%

  &-clipboardPopup
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .4)
    top: 0
    left: 0
    font-size: 20px

  &-clipboardPane
    margin: 0 auto
    width: 298px
    height: 220px
    margin-top: 30vh
    background-color: white
    border-radius: 30px
    text-align: center
    padding-top: 40px
    box-sizing: border-box
    & pre
      display: inline-block

  &-clipboardButton
    background-color: $primary-color
    display: inline-block
    padding: 0 40px
    margin-top: 30px
    line-height: 60px
    color: white
    border-radius: 30px
    cursor: pointer
    &:hover
      background-color: lighten($primary-color, 10)
      
