.successScreen
  padding: 20px 72px
  color: #ffffff
  box-sizing: border-box
  
  &-title
    font-size: 48px
    line-height: 48px
    text-transform: uppercase
    margin: 30px 0
    font-weight: bold

  &-subtitle
    font-size: 24px
    line-height: 30px
    font-weight: normal

  &-buttonsNest
    margin-top: 36px
    padding-bottom: 30px
    & > *
      display: block !important
      &:first-child
        margin-bottom: 20px


.mobile .successScreen
  padding: 20px 18px  
  &-title
    font-size: 30px
    line-height: 30px
    text-transform: uppercase
    margin: 30px 0
    font-weight: 500

  &-subtitle
    font-size: 20px
    font-weight: normal
    line-height: 27px

  & .button
    position: fixed
    bottom: 30px
    width: 90%
    @media (max-width: 320px)
      font-size: 20px

